<div class="task-list">
  <h2>Tasks ({{ totalTasks }})</h2>
  <p-table [value]="tasks" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>User ID</th>
        <th>Completed</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
      <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.userId }}</td>
        <td>{{ task.completed }}</td>
        <td>
          <button pButton icon="pi pi-pencil" (click)="openTaskDialog(task)" label="Update"></button>
          <button pButton icon="pi pi-trash" (click)="deleteTask(task)" label="Delete"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <button pButton icon="pi pi-plus" (click)="openTaskDialog()">Add Task</button>
</div>
